<!DOCTYPE html>
<html lang="en">
<head>
<title>[% meta.page_title %]</title>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

[% USE Markdown -%]
[% FILTER markdown %]

[% INCLUDE about.md %]

[% END %]

</body>

